/* Universal Styles */
h2 {
    font-family: Lora, serif;
    font-size: 40px;
}

/* Heading Banner */
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000; /* Remove line */
}

.banner h1 {
    font-family: Lora, serif;
    font-size: 64px;
}

.banner img {
    width: 100px;
    height: 100px;
}

/* Nav Bar */
.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
}

.nav a {
    font-family: Lora, serif;
    font-size: 24px;
}

/* About Me */
.about .subheading {
    display: flex;
    justify-content: center;
}
.about .content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid #000;
}

.about img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.about .bio {
    width: 400px;
    font-family: "Gowun Batang", serif;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    align-items: center;
}