/* Universal Styles */
h2 {
    font-family: Lora, serif;
    font-size: 40px;
}

p {
    font-family: "Gowun Batang", serif;
    font-size: 16px;
}

/* Heading Banner */
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000; /* Remove line */
}

.banner h1 {
    font-family: Lora, serif;
    font-size: 64px;
}

.banner img {
    width: 100px;
    height: 100px;
}

/* Nav Bar */
.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
}

.nav a {
    font-family: Lora, serif;
    font-size: 24px;
}

/* About Me */
#about {
    padding-top: 25px;
}

#about .pic, #about .bio {
    padding-bottom: 50px;
}

#about .subheading {
    display: flex;
    justify-content: center;
}

#about .content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid #000;
}

#about .content .pic img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

#about .bio {
    width: 400px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Quotes */
.quote {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.quote p {
    font-family: "Indie Flower";
    font-weight: 400;
    font-size: 32px;
    font-style: italic;
    text-align: center;
}

/* Portfolio */
#portfolio {
    padding-top: 25px;
}

#portfolio .subheading {
    display: flex;
    justify-content: center;
}

#portfolio .pics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#portfolio .pics img {
    width: 25%;
    height: 350px;
    margin: 25px;
    border-radius: 50px;
    border: 5px solid #000;
}

#portfolio .events {
    text-align: center;
    font-size: 32px;
    font-family: Lora, serif;
}

#portfolio .events p {
    font-size: 24px;
}

#portfolio .event-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid #000;
    padding-bottom: 50px;
}

#portfolio .event-content .pic img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

#portfolio .info {
    width: 400px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}