/* Universal */
body {
    background-color: #5b7865;
}

header {
    background-color: #5b7865;
}

main {
    background-color: #879c8e;
}

/* Header */
header {
    width: 100%;
    height: 200px;
    /* border-bottom: 1px solid #000; */
    position: sticky;
    top: 0;
}

.banner {
    width: 100%;
    height: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1, .banner a:link, .banner a:visited {
    font-family: "IM Fell English", Lora, serif;
    font-size: 64px;
    color: #fff;
    /* font-style: italic; */
    text-decoration: none;
}

.banner img {
    width: 100px;
    height: 100px;
}

nav {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a, nav a:link, nav a:visited {
    font-family: Lora, serif;
    font-size: 24px;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    padding: 0 100px;
}

nav a:hover {
    color: #8c3f0d;
}

/* Additions:
>JS - Collapse bar when scrolling - [logo name --- links] 
*/

/* Main */
.subheading{
    display: flex;
    justify-content: center;
}

.subheading h2 {
    font-family: "Dancing Script";
    font-size: 40px;
    color: #000;
}

/* About Section */
.about {

}

.about-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.about-pic img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px;
}

.about-bio {
    width: 400px;
    height: 400px;
    line-height: 40px;
    text-align: center;
    font-family: "Gowun Batang", serif;
}